<div class="container">
  <h1>Reactive(Model Drive) Form Validation</h1>
  <div class="col-lg-4">
    <form [formGroup]="formdata">
      <div class="form-outline mb-4">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" [ngClass]="{'red':formdata.controls.email.invalid && formdata.controls.email.touched}" name="email" formControlName="email" />
        <span *ngIf="formdata.controls.email.invalid && formdata.controls.email.touched">Please enter valid email.</span>
      </div>
      <div class="form-outline mb-4">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" [ngClass]="{'red': formdata.controls.password.invalid && formdata.controls.password.touched}" name="password" formControlName="password" />
        <span *ngIf="formdata.controls.password.invalid && formdata.controls.password.touched">Please enter valid password.</span>
      </div>
      <button type="button" [disabled] ="!formdata.valid"  class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
  </div>
</div>
